<!DOCTYPE html>
<html>
    <head>  <!-- Cabecera-->
        <title>Login</title> <!-- Titulo-->
    </head>  <!-- cierre de cabecera-->
    <body> <!-- cuerpo-->
        <section id="contenedor">
        <h1><n>Bienvenida</n> </h1> <!-- Bienvenida con letra  tipo h1-->
        <p>Tus datos son correctos</p><br> <!-- Parrafo-->
        <p>Ahora podras interactuar a tu comodidad</p>
        <a href = "/logout">Logout</a> <!--pagina logout-->
    </section>

<style>
            #contenedor{
            position: center;
            width: 1000px;
            height: 1000px;
            padding-left: 90px;
            padding-top: 15px;
            background-color: #F8DEBE ;
            border-radius: 20px;
            margin: auto;
          }
</style>
    </body> <!-- Cierre de cuerpo-->
</html>