$def with (sucu_1, sucu_2)
<!DOCTYPE HTML> <!--El<html>es la raiz de la página html.¡-->
<HTML>
<HEAD> 
   <meta charset="utf-8">
   <title>Proyecto</title>
   <meta name="description" content="pa">

   <h3>Sucursal 1</h3>
           <p>Temperatura</p>
           <p class="data"><span id="tem_s1"></span>&deg;C</p> 

           <br><br>
           <p >Humedad</p>
           <p class="data"><span id="hum_s1"></span>&percnt;</p>
       <br><br>
           <p>Sistema enfriamiento</p> 
           <form method="post">
               <input type="text"  value="$sucu_2.val()" name="enfri_sucu2"/>
               $if (sucu_1.val() == on):
                   <button type="submit" value=off name="enfri_sucu1" >Desactivar enfriamiento</button>
               $else:
                   <button type="submit" value=on name="enfri_sucu2" >Activar enfriamiento</button>
               
           </form>
       </div>
   </div>
   <h2>Sucursal 2</h2>
   <p>Temperatura</p>
   <p class="data"><span id="tem_s2"></span>&deg;C</p> 

   <br><br>
   <p >Humedad</p>
   <p class="data"><span id="hum_s2"></span>&percnt;</p>
<br><br>
   <p>Sistema enfriamiento</p> 
   <form method="post">
       <input type="text"  value="$sucu_2.val()" name="enfri_sucu2"/>
       $if (sucu_1.val() == on):
           <button type="submit" value=off name="enfri_sucu1" >Desactivar enfriamiento</button>
       $else:
           <button type="submit" value=on name="enfri_sucu2" >Activar enfriamiento</button>
       
   </form>
</div>
</div>
</body>
</html>
<script>
  window.setInterval(function(){
      var request = new XMLHttpRequest();
      request.open('GET','');
      request.onload = () => {
          const response = request.responseText;
          console.log(response); 
          const json = JSON.parse(response);
          document.getElementById('tem_s1').innerHTML = json['sucursal_1'].temperatura;
          document.getElementById('hum_s1').innerHTML = json['sucursal_1'].humedad;
          document.getElementById('tem_s2').innerHTML = json['sucursal_2'].temperatura;
          document.getElementById('hum_s2').innerHTML = json['sucursal_2'].humedad;
      };
      request.send();
  }, 100);
</script>