$def with (sucu_1_p1, sucu_1_p2, sucu_1_p11, sucu_1_p22)
<!DOCTYPE HTML> <!--El<html>es la raiz de la página html.¡-->
<HTML>
<HEAD> 
   <meta charset="utf-8">
   <title>Proyecto</title>
   <meta name="description" content="pa">

   <table>
    <th>Temperatura producto 1</th>
    <th>Humedad producto 1</th>
    <th>Temperatura producto 2</th>
    <th>Humedad producto 2</th>
    <tr>
        <td id="Sucursal_1_Temperatura">{{Temperatura producto 1}}</td>
        <td id="sucursal_1_Humedad">{{Humedad producto 1}}</td>
        <td id="sucursal_1_2_Temperatura">{{Temperatura producto 2}}</td>
        <td id="sucursal_1_2_Humedad">{{Humedad producto 2}}</td>
    </tr>
</table>
<script> /*--Script para consultar el JSON de firebase */
    window.setInterval(function(){
        var request = new XMLHttpRequest();
        request.open('GET',"UsersData");
        request.onload = () => {
            const response = request.responseText;
            console.log(response); /* Imprime en la consola los datos */
            const json = JSON.parse(response);
            document.getElementById('Sucursal_1_Temperatura').innerHTML = json['Sucursal_1_Temperatura'].Temperatura;
            document.getElementById('sucursal_1_Humedad').innerHTML = json['sucursal_1_Humedad'].Temperatura;
            document.getElementById('sucursal_1_2_Temperatura').innerHTML = json['sucursal_1_2_Temperatura'].Temperatura;
            document.getElementById('sucursal_1_2_Humedad').innerHTML = json['sucursal_1_2_Humedad'].Temperatura;
        };
        request.send();
    }, 1000);
</script>
