<!DOCTYPE html>
<html>
    <head>  <!-- Cabecera-->
        <title>Login</title> <!-- Titulo-->
    </head>  <!-- cierre de cabecera-->
    <body> <!-- cuerpo-->
        <h1><n>Bienvenida</n> </h1> <!-- Bienvenida con letra  tipo h1-->
        <p>Tus datos son correctos</p><br> <!-- Parrafo-->
        <p>Ahora podras interactuar a tu comodidad</p>
        <style css>
            background-image: url("https://preview.redd.it/m0u3cl9u5tc71.jpg?width=960&format=pjpg&auto=webp&s=9f271dbf8141e022721576cb4adac3525d4ab796");
        </style>

    </body> <!-- Cierre de cuerpo-->
</html>