$def with (message)
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        $message <!-- variable message-->
        <section id="form">
        <h1>Login</h1> <!-- Login con letra tipo H1-->

        <form method="POST"> <!-- Se crea el formulario-->
            <input type="email" name="email" id="email"><br><br> <!-- Campo email-->
            <input type="password" name="password" id="password"><br><br> <!-- Campo password-->
            <input type="submit" value="Login"><br><br> <!-- boton login-->
            <a href = "recuperar">forget_password</a><br><br> <!--pagina logout-->
            <a href = "/bienvenida">bienvenida</a> <!--pagina logout-->
            <a href = "/logout">bienvenida</a> <!--pagina logout-->
        </section>
        </form>
        
<style>
  #form{
  position: center;
  width: 290px;
  height: 400px;
  padding-left: 90px;
  padding-top: 15px;
  background-color: #F8DEBE ;
  border-radius: 20px;
  margin: auto;
}
</style>


</body>
</html>