$def with (message)
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        $message <!-- variable message-->
        <h1>Login</h1> <!-- Login con letra tipo H1-->
        <form method="POST"> <!-- Se crea el formulario-->
            <input type="email" name="email" id="email"><br> <!-- Campo email-->
            <input type="password" name="password" id="password"><br> <!-- Campo password-->
            <input type="submit" value="Login"><br> <!-- boton login-->
        </form>
    </body>
</html>