<!DOCTYPE html>
<html>
    <head>
        <title>Password reset </title>
    </head>
    <body>
        <section id="form">
        <h1>Recuperar contraseña</h1> <!-- Login con letra tipo H1-->

        <form method="POST"> <!-- Se crea el formulario-->
            Email: <br><input type="email" name="email" id="email"><br><br> <!-- Campo email-->
            <input type="submit" value="recuperar_password"><br> <!-- boton login-->
        </section>
        </form>
<style>
  #form{
  position: center;
  width: 290px;
  height: 400px;
  padding-left: 90px;
  padding-top: 15px;
  background-color: #F8DEBE ;
  border-radius: 20px;
  margin: auto;
}
</style>


</body>
</html>