$def with (message)
<!DOCTYPE html>
<html>
    <title>Registro</title>
    <body>
        $message <!-- variable message-->
        <section id="form">
            <h1 >Registrarse</h1>
        <form method="POST"> 
            Name:<input type="text" name="name" id="name"><br><br>
            Phone:<input type="text" name="phone" id="phone"><br><br>
            Email:<input type="text" name="email" id="Email"><br><br>
            Password:<input type="password" name="password" id="Password"><br><br>
            <input type="submit" value="Registrarse">
        </section>
        </body>
    </body>

<style>
    #form{
  position: relative;
  width: 500px;
  height: 600px;
  padding-left: 90px;
  padding-top: 15px;
  background-color: mediumorchid ;
  border-radius: 20px;
  margin: auto;
}

.contenedor {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

</style>
</html>